
body {
    background-color: black;
  }
  .auth__page {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    width: 50vw;
    height: 50vh;
    background: linear-gradient(to right, #002333 50%, rgb(190, 190, 190) 50%);
    border-radius: 5px;
    margin-top: 50px;
    color: white !important;
  }
    
    .auth__page__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
      
      .auth__page__content__child {
          color: white;
          text-align: center;
      }
          
          .divider {
            width: 150px;
            height: 20px;
            background-color: rgb(54, 251, 113);
            margin: 0 auto;
            margin-bottom: 10px;
          }
 
  
  .auth__page__login {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    border: none;
    font-weight: 700;
    padding: 20px;
  }
  
  .auth--buttons {
    display: flex;
    flex-direction: column;
  }
  
  input {
    border: none;
  }
  
  input:focus {
    outline: none;
    border: 3px solid rgb(100, 113, 121);
  }
  