.main--footer {
    width: 100vw;
    height: 15vh;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: #2ea0a8;
    font-size: 24px;
}

a {
    color: white;
    padding: 15px;
}

