.main--nav {
    width: 100vw;
    height: 15vh;
    background-color: rgb(36, 70, 92);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 24px;
}

a{
    text-decoration: none;
    color: white;
    padding: 15px;
}