.main--nav {
    width: 100vw;
    height: 10vh;
    background-color: #2ea0a8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 24px;
}

a{
    text-decoration: none;
    color: white;
    padding: 15px;
}

a:hover {
    text-decoration: none;
    color: white;
}